/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #282828FF;
    background-alt: #3c3836FF;
    foreground:     #d5c4a1FF;
    selected:       #83a598FF;
    active:         #b8bb26FF;
    urgent:         #fb4934FF;
}
